



/*FONTS*/

.orbitron > {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.kanit-light {
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-l> {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.gilda-display-regular {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
}



* {
    box-sizing: border-box;
}
html {
    scrollbar-gutter: stable both-edges;
}


body {
	overflow:hidden;
	max-height:100dvh;
    position:relative;
    margin: 0;
    padding:0;
    background-color: var(--bg-color);
    color: #fafaf9;
    font-family: kanit;
    
    --card-padding: 10px;
    --card-rounded: 0px;
    --bg-color: #f2f2f2;
    --text-bg-color: #0c0c0c;
}


main {
    scrollbar-gutter: stable both-edges;
	position:relative;
	overflow: auto;
	max-height:100dvh;
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

H1 {
    margin:auto;
    font-size: clamp(2rem,8vw,8rem);
    text-align: center;
    color: var(--text-bg-color);
    background-color: var(--bg-color);
    padding: clamp(1.5rem,5vw,4rem);
    font-family: Georgia;
    font-weight: 300;
    
    letter-spacing: 5px;
}





/*Pop up*/

#popup {
    align-content: center;
    color: var(--text-bg-color);
    text-align: center;
    font-family: Montserrat;
}

#popup h2 {
    font-family: Montserrat;
    font-weight: 500;
    text-transform: capitalize;
    
    margin:auto;
    font-size: 40px;
    color: var(--text-bg-color);
    text-decoration: bold;
}


#popup iframe {
    aspect-ratio: 16 / 9;
    display: block;
    margin: 20px auto;
    border: 0px solid var(--text-bg-color);
    border-radius: 0px;
    width: 70%;
    height: 70%;
    
    
}

#popup img {
    display: block;
    margin: 20px auto;
    max-height: 60dvh;
    max-width:100%;
}


#popup p { /*Tags*/
    font-family: "Gilda Display", serif;
    font-size: 1rem;
    margin: 20px 0;
    color: #333;
}


#popup >div p { /*Description*/
    font-family: Montserrat;
    display: flex;
    font-size: 1.5rem;
    margin: 20px 0;
    padding-left: 20%;
    padding-right: 20%;
}

#popup >div >div { /*Description Expandable*/
    
    font-family: Montserrat;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5rem;
}

em {
    color: #555;
    text-decoration: none;
}

.collapsible {
    cursor: pointer;
    margin: 20px 0;
    align-items: center;
    margin-bottom: 10px;
}


.content {
    display: none;
    text-align: center;
    color: #555;
}

#popup a { /*link*/
    text-decoration: underline;
    color: var(--text-bg-color);
    font-size: 1.5rem;
    padding-left: 20%; 
    padding-right: 20%;
    display: block;
    
}



@media (max-width: 768px) { 
    
    #popup h2 {
        font-size: 40px;
    }
    
    #popup > div p {
        font-size: 1.5rem;
        padding-left: 10%; 
        padding-right: 10%;
    }
    main {
        padding-top: 25px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
    }
    #popup img,
    #popup iframe {
        width: 70%;
        height: 70%;
        
    }
    
    #popup >div >div { /*Description Expandable*/
        font-size: 1.2rem;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    #popup p { /*Tags*/
        font-size: 1rem;
    }
    
    em {
        font-size: 1.2rem;
    }

    #popup a {
        font-size: 1.2rem;
        padding-left: 10%; 
        padding-right: 10%;
        
    }

}

@media (max-width: 480px) {
    
    #popup h2 {
        font-size: 30px;
    }
    
    #popup > div p {
        font-size: 1.3rem;
        padding-left: 5%; 
        padding-right: 5%;
    }
    main {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    
    #popup p { /*Tags*/
        font-size: 0.9rem;
    }
    
    #popup img,
    #popup iframe {
        
        width: 90%;
        height: 90%;
        
    }
    
    #popup >div >div { /*Description Expandable*/
        font-size: 1.3rem;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    
    em {
        font-size: 0.9rem;
    }

    #popup a { /*link*/
        font-size: 1.3rem;
        padding-left: 10%; 
        padding-right: 10%;
        
    }
    
}


#popup > label > input  {
    position: absolute;
    width:1px;
    height:1px;
    opacity: 0;
}


#popup > label > img {

    width:auto;
    cursor: pointer;
}
#popup > label > input:checked + img {
    width: auto;
    max-height:100dvh;
}

#popup > label:has(input:checked) {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 10;
    display:block;
    background-color: rgba(255,255,255,0.5);
}
