@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body#detail {
	--bg-color: #f3f3f3;
    --text-bg-color: #0c0c0c;
	
    font-family: "Montserrat", sans-serif;
	font-size: clamp(1.1rem,3vw,1.5rem);
    background-color: #f2f2f2;
    color: #0c0c0c;
	
	max-width:1024px;
	
    margin: 0 auto;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1rem;

	align-content: center;
    text-align: center;

	opacity: 0;
	animation: fadeIn 0.4s ease-in 0.1s forwards;
	
	h1 {
	    text-transform: capitalize;
		font-size: clamp(20px,5vw,40px);
	    font-weight: 500;
	}

	::-moz-selection { /* Code for Firefox */
		color: var(--bg-color);
		background: rgba(0, 0, 0, 0.877);
	  }
	  
	  ::selection {
		color: var(--bg-color);
		background: rgba(0, 0, 0, 0.877);
	  }


	img {
	    display: block;
	    margin: 1rem auto;
	    max-width:100%;
	    max-height: 100%;
	}
	
	iframe {
		aspect-ratio: 16 / 9;
		display: block;
		margin: 20px auto;
		border: 0px solid var(--text-bg-color);
		border-radius: 0px;
		height: min(50dvw,500px);
	}

	h1 + * img {
	    max-height: 75dvh;
	}
	h1 + iframe {
		max-height: 75dvh;
	}

	figure {
	    margin: 0;
	}
	figcaption {
	    color: #555;
		font-style:italic;
	    font-size: 70%;
	}

	p.tags { /*Tags*/
	    font-family: "Libre Baskerville", serif;
	    font-size: 70%;
	    margin: 1rem 0;
	    opacity: 0.70;
	    padding-left: 10%;
	    padding-right: 10%;
	}

	details {
	    margin: 1rem 0;		
	}
	summary {
		cursor:pointer;
	}
	details > p {
		margin-top:0.5rem;
	}

	a {
		color: var(--text-bg-color);
	}
}

:root:has(body.dark) {
	filter: contrast(80%) invert(100%) hue-rotate(180deg);

	img, i.em, iframe {
		filter: hue-rotate(180deg) invert(100%) brightness(1.15);
	}
}

