@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&display=swap');



* {
    box-sizing: border-box;
}


body {
    overflow:hidden;
    max-height:100dvh;
    position:relative;
    margin: 0;
    padding:0;
    background-color: var(--bg-color);
    
    --card-padding: 10px;
    --card-rounded: 0px;
    /*
    --bg-color: #f2f2f2;*/
    --bg-color: #ffffff;
    --text-bg-color: #0c0c0c;
    color:var(--text-bg-color);
    font-family: Montserrat, sans-serif;
}


main {
    scrollbar-gutter: stable both-edges;
    position:relative;
    overflow: auto;
    max-height: calc(100dvh - 2rem);
}

H1 {
    margin:auto;
    font-size: clamp(2rem,8vw,8rem);
    text-align: center;
    color: var(--text-bg-color);
    padding: clamp(1.5rem,5vw,4rem);
    font-weight: 500;
    letter-spacing: 5px;
}




#gallery {
    margin: auto;
    margin-top: -20rem;
    
    padding-top: 25px;
    padding-left: min(40px, 5vw);
    padding-right: min(40px, 5vw);
    padding-bottom: min(40px, 5vw);
    display: grid;
    max-width: 1800px;
    column-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(max(270px, 23%), 1fr));
    grid-template-rows: 5px;
}

#gallery > * {
    overflow: hidden;
}

#gallery > * > * {
    
    height: fit-content;
    color: var(--text-bg-color);
    padding: 0em;
    
    
}

#gallery img {
    display: block;
    width: 100%; /* Adjust width to fit the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Optional: ensures the image fills the container nicely */
    border-radius: var(--card-rounded); /* Optional: matches card styling */
    transition: transform 0.5s ease;
}

#gallery img:hover {
    transform: scale(1.01);
    transition: transform 0.6s;
}





#gallery p {
    
    color: var(--text-bg-color);
    font-size:95%;
    margin:0;
    font-family:Libre Baskerville;
    font-weight: 50;
    opacity: 0.8;
}


#gallery h2 {
    font-size: 110%;
    margin-top: 20px;
    padding-top: 5px;
    margin-bottom: 1px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}



#gallery a {
    text-decoration: none;
    color: var(--text-bg-color);
    display: block; /* Make the link behave like a block element */
    /*border-bottom: 50px solid transparent;*/
}



/*FILTER*/


#filters {
    position: sticky;
    top: 0;
    z-index:10;
    background-color: var(--bg-color);
    display:flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom:20rem;
    justify-content: center;
    gap: 0.5rem clamp(0rem , 1.5vw, 2rem);
    color: var(--text-bg-color);
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    font-size:90%;
    
    & > label {
        text-align:center;
        display: block;
        position: relative;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        opacity: 1;
        
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            width:1px;
            height:1px;
        }
    }
    
    & > label::after {
        content: "";
        position: absolute;
        display: block;
        height: 3px; /* Thickness */
        bottom: -5px; /* Adjusts the offset from the text */
        left: 0.9rem;
        right: 0.9rem;
        background-color: var(--text-bg-color);
        transform: scaleX(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    & > label:hover::after {
        transform: scaleX(1);
        opacity:0.5;
    }
    & > label:has(input:checked)::after {
        transform: scaleX(1);
        opacity:1;		
    }
    
    
}



dialog {
    position:fixed;
    margin:0;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
    min-width:100%;
    height:100%;
    
    max-height:100%;
    max-width:100%;
    
    border:none;
    overflow:hidden;
    padding: 30px;
    background: transparent;
}

dialog::backdrop {
    backdrop-filter: blur(0.25rem);
    background-color: rgba(255, 255, 255, 0.75);
}

dialog iframe {
    display:block;
    background:white;
    width: min(1440px,100%);
    height:100%;
    border:none;
    padding:0;
    margin:auto;
}

#popup-close,#prev,#next {
    z-index:10;
    position:absolute;
    text-decoration:none;
}
#popup-close {
    font-size:200%;
    top:10px;
    right:10px;
}

#prev {
    font-size:300%;
    top:40vh;
    left:10px;
}
#next {
    font-size:300%;
    top:40vh;
    right:10px;
}

body > header {
    background-color:var(--bg-color);
    font-family: "Mrs Saint Delafield"; font-size: 190%; font-weight: 100; letter-spacing: 2px;
    height:2rem;
}

body > header > a {
    padding-left: 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px; /* Adjust position based on your bg dimensions */
    }
}
section {
    min-height:calc(100dvh - 2rem);
}

section:first-child {
    min-height:calc(100dvh - 2rem);
    background: url("BG.jpg") repeat 0 0;
    
    animation: bg-scrolling-reverse 1.8s infinite linear;
    background-size: auto; /* Adjust size if necessary */
    position: relative;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    
    nav {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: clamp(1rem, 4vw, 6rem); /* Adjusts dynamically based on screen size */
        a {
            text-decoration: none;
            font-family: Montserrat, sans-serif;
            font-size: 1rem;
            
            background-color: transparent;
            border: 2px solid #1A1A1A;
            box-sizing: border-box;
            color: var(--text-bg-color);
            cursor: pointer;
            font-family: "Segoe UI",Helvetica,Arial,sans-serif;
            font-weight: 600;
            line-height: normal;
            min-width: 0;
            outline: none;
            padding: 10px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);        
        }

        


    }

    a:hover {
        color: #fff;
        background-color: var(--text-bg-color);
        transform: translateY(-2px);
    }
    
    a button:active {
        transform: translateY(0);
    }
    
    h1 {
        padding:0;
        margin:0;
        
        overflow: visible;
        line-height: 60%;
        font-size: clamp(2rem,12vw,12rem);
        
    }
    
    p {
        font-size: clamp(1rem, 2vw, 1.5rem);
        font-weight: 400;
        text-align: center;
    }
}

section:nth-child(2) {
    min-height:calc(100dvh - 2rem + 100px);
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--bg-color) 100px);
    z-index: 2;
    
}

section:nth-child(3) {
    margin-top: 100px;
}