@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&family=Kanit&display=swap&display=swap');
@import url('https://emoji-css.afeld.me/emoji.css');


* {
    box-sizing: border-box;
}



html {
    --card-padding: 10px;
    --card-rounded: 0px;
    /*--bg-color: #f2f2f2;*/
    --bg-color: #f3f3f3;
    --text-bg-color: #0c0c0c;	
}

body {
    overflow:hidden;
    position:relative;
    margin: 0;
    padding:0;
    background-color: var(--bg-color);
    color:var(--text-bg-color);
    font-family: Montserrat, sans-serif;
    transition: opacity 0.5s ease;
}

/*Scroll top button*/

#button-scroll {
    position: fixed;
    bottom: clamp(1.5rem, 2vw, 2rem);;
    right: clamp(1.5rem, 2vw, 2rem);;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 24px;
    border-width: 0px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .5) 0 6px 20px;
    cursor: pointer;
    height: 48px;
    width: 48px;
    justify-content: center;
    transition: box-shadow .2s, background-color .3s, transform .3s, outline .2s, opacity .2s;
    transform: translateY(50px);
    opacity: 0%;
    font-size: 2rem;
    z-index: 15;
    outline: solid var(--bg-color) 0px;
    
    & > img {
        height: 25px;
        width: 25px;
        transition: filter .3s, transform .3s;
        transition-delay: 100ms;
    }
}


#button-scroll:hover {
    background-color: var(--text-bg-color);
    transform: translateY(-2px);
    outline: solid var(--bg-color) 3px;

    & > img {
    filter: invert(100%);
    transform: translateY(-1px);
    }
}

#button-scroll:active {
    transform: translateY(2px);
}

a {
    color:var(--text-bg-color);	
}

::-moz-selection { /* Code for Firefox */
    color: var(--bg-color);
    background: rgba(0, 0, 0, 0.877);
}

::selection {
    color: var(--bg-color);
    background: rgba(0, 0, 0, 0.877);
}


main {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    position:relative;
    overflow: auto;
    max-height: 100dvh;
    
    & > nav, & > section {
        padding-left: min(5vw, max(40px, 100px));
        padding-right: min(5vw, max(40px, 100px));
        
    }
}



#gallery {
    margin: auto;
    margin-top: -20rem;
    
    padding-top: 25px;
    padding-bottom: min(40px, 5vw);
    display: grid;
    max-width: 1800px;
    column-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(max(270px, 30%), 1fr));
    grid-template-rows: 5px;
}

#gallery > * {
    overflow: hidden;
}

#gallery > * > * {
    
    height: fit-content;
    padding: 0em;    
}

#gallery img {
    display: block;
    width: 100%; /* Adjust width to fit the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Optional: ensures the image fills the container nicely */
    border-radius: var(--card-rounded); /* Optional: matches card styling */
    transition: transform 0.5s ease;
}

#gallery img:hover {
    transform: scale(1.01);
    transition: transform 0.6s;
}


#gallery > * {
    text-align: left;
}


#gallery p {
    font-size:95%;
    margin:0;
    font-family:Libre Baskerville;
    font-weight: 50;
    opacity: 0.8;
}


#gallery h2 {
    font-size: 110%;
    margin-top: 20px;
    padding-top: 5px;
    margin-bottom: 1px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}



#gallery a {
    text-decoration: none;
    display: block;
    /*border-bottom: 50px solid transparent;*/
}



/*FILTER*/


#filters {
    position: sticky;
    top: calc(3rem - 2px);
    z-index:10;
    background-color: var(--bg-color);
    display:flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom:20rem;
    justify-content: right;
    /*
    padding-right: clamp(1.5rem,5vw,5.5rem); */
    
    
    gap: 0.5rem clamp(0rem , 1.5vw, 2rem);
    border-bottom: 0px solid #ddd;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    font-size:clamp(0.9rem , 0.85vw, 0.85vw);
    
    & > label {
        text-align:center;
        display: block;
        position: relative;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        opacity: 1;
        
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            width:1px;
            height:1px;
        }
    }
    
    & > label::after {
        content: "";
        position: absolute;
        display: block;
        height: 3px; /* Thickness */
        bottom: -5px; /* Adjusts the offset from the text */
        left: 0.9rem;
        right: 0.9rem;
        background-color: var(--text-bg-color);
        transform: scaleX(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    & > label:hover{
        opacity:1;
    }
    
    & > label:hover::after {
        transform: scaleX(1);
        opacity:0.5;
    }
    & > label:has(input:checked)::after {
        transform: scaleX(1);
        opacity:1;		
    }
    & > label:has(input:checked){
        font-weight: bold;	
        opacity: 1;
    }
    
    
}



dialog {
    position:fixed;
    margin:0;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
    min-width:100%;
    height:100%;
    
    max-height:100%;
    max-width:100%;
    
    border:none;
    overflow:hidden;
    padding: 30px;
    background: transparent;
}

dialog::backdrop {
    backdrop-filter: blur(0.25rem);
    background-color: rgba(255, 255, 255, 0.75);
}

dialog iframe {
    display:block;
    background:white;
    width: min(1440px,100%);
    height:100%;
    border:none;
    padding:0;
    margin:auto;
}

#popup-close,#prev,#next {
    z-index:10;
    position:absolute;
    text-decoration:none;
}
#popup-close {
    font-size:200%;
    top:10px;
    right:10px;
}

#prev {
    font-size:300%;
    top:40vh;
    left:10px;
}
#next {
    font-size:300%;
    top:40vh;
    right:10px;
}



/* nav bar */

main > nav {
    position:sticky;
    top:0;
    left:0;
    right:0;
    height:3rem;
    z-index:20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color .2s;
    
}

#alex {
    font-family: "Mrs Saint Delafield";
    font-size: 200%;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    margin-left: -4vw;
    
    opacity: 0;
    transition: opacity 0.5s ease;
    
    &.visible {
        opacity: 1;
    }
}


#menu {
    display: flex;
    align-items: center;
    gap: clamp(1rem , 3vw, 2rem);
    
    a {
        position:relative;
        font-weight: bold;
        text-align: right;
        text-decoration: none;
        font-size: 110%;
        opacity: 0.55;
    }
    
    a::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px; 
        height: 3px;
        width: 0; 
        display: block;
        background-color: var(--text-bg-color);
        opacity: 0.5;
        transform: translateX(-50%);
        transition: width 0.3s ease, opacity 0.3s ease;
    }
    
    a:hover::after {
        width: 100%; 
        opacity: 0.5;
    }
    
    a.current-section::after {
        width: 100%;
        opacity: 1;
    }
    
    a.current-section{
        opacity: 1;
    }
    
    a:hover{
        opacity: 1;
    }
}



/* sections */

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px; /* Adjust position based on your bg dimensions */
    }
}

section {
    min-height:100dvh;
    
    H1 {
        font-size: clamp(3rem,8vw,8rem);
        font-weight: 500;
        letter-spacing: 5px;
        margin:0;
    }
    
}

section:first-of-type {
    min-height:calc(100dvh - 3rem);
    background: url("BG.jpg") repeat 0 0;
    
    animation: bg-scrolling-reverse 1.8s infinite linear;
    background-size: auto; /* Adjust size if necessary */
    position: relative;
    z-index: 1;
    padding-top: 3rem;
    bottom: 3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /*
    gap:clamp(1vh, 3vw, 3rem); */
    
    &::after {
        position:absolute;
        display:block;
        content: "";
        bottom:0;
        left:0;
        right:0;
        min-height:20%;
        z-index: 2;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--bg-color));
    }
    
    
    h1 {
        margin:0;        
        overflow: visible;
        line-height: 60%;
        font-size: clamp(2rem,12vw,12rem);
    }
    
    
    header {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0 10vw;
        /*padding-left: clamp(1.5rem,10vw,10.5rem);*/
        font-family: Kanit;
        
        padding-left: clamp(1.5rem, 8vw, 8rem);
        
        p {
            flex-grow: 0;
            font-size: clamp(0.8rem, 1vw, 1rem);
            font-weight: 500;
        }
    }
    
    & > p {
        font-size: clamp(1rem, 2vw, 1.5rem);
        font-weight: 400;
        text-align: center;
    }
    
    nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        padding-top: clamp(1rem, 8vw, 8rem);
        a {
            border: 2px solid #1A1A1A;
            cursor: pointer;
            font-family: "Segoe UI",Helvetica,Arial,sans-serif;
            font-weight: 600;
            font-size: 1rem;
            line-height: normal;
            
            outline: none;
            padding: 10px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);        
        }
        
        a:hover {
            color: #fff;
            background-color: var(--text-bg-color);
            transform: translateY(-2px);
        }
        
        a button:active {
            transform: translateY(0);
        }
    }
}


section:nth-of-type(2), section:nth-of-type(3) {
    padding-top: 3rem;
    & h1 {
        margin-top:1rem;
        margin-bottom: 60px;
        width: 85%;
        border-bottom: 4px solid var(--text-bg-color); 	
    }
}


section:nth-of-type(2) {
    & > h1 {
        margin-left: auto;
        text-align: right;
    }
}



/*

section:nth-of-type(2):before {
content : "";
position: absolute;
height  : 1px;
left: 0%;
width   : 80%;
border-bottom:2px solid var(--text-bg-color);
}



section:nth-of-type(3):before {
content : "";
position: absolute;
height  : 1px;
left: 20%;
width   : 80%;
border-bottom:2px solid var(--text-bg-color);
}

*/


section:nth-of-type(3) {
    margin-top: 50px;
    
    & > div {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 3rem clamp(1rem, 10vw, 8rem);
        
        & > :first-child {
            font-size: clamp(1.4rem,5vw,2.4rem);
            font-weight: 500;
            flex: 1 1 47%;
            margin:0;
        }
        
        
        & > :nth-child(2) {
            font-size: clamp(0.8rem, 5vw, 1rem);
            min-width: 36vw;
            flex: 1 1 25%;
            font-family: "Libre Baskerville", serif;
            font-style: normal;
            line-height: 1.5rem;
            padding-right: 10vw;
            
            
            p {
                margin-top:1.5em;
            }
            p:first-child {
                margin-top:0;
            }
        }
    }
    
    
    footer {	    
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: clamp(0.5rem, 5vw, 4rem);
        
        font-family: Kanit;
        
        & > p {
            position: relative;
            
            line-height: 1.5rem;
            font-weight: 500;
            white-space: nowrap; 
            text-overflow: ellipsis;
            top: -8.5vh; /**/
        }
        
        i {
            letter-spacing: 1rem;
        }
    }
}


/*Emoji text on hover*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: var(--bg-color);
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    
    position: absolute;
    top: 120%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 10;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* Right Section */
.right-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
    padding-right: clamp(1rem, 2vw, 2rem);
    font-size: 1.3rem;
    position: absolute;
    left: 78%;
}

.right-section a {
    font-size: clamp(1rem, 1.8vw, 1.3rem);
    font-family: kanit;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
    opacity: 0.7;
}

.right-section a::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px; 
    bottom: -3px; 
    left: 0rem;
    right: 0rem;
    background-color: black; 
    transform: scaleX(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.right-section a:hover::after {
    transform: scaleX(1);
    opacity: 0.5;
}

.right-section a:first-child::after {
    transform: scaleX(1);
    opacity: 1;
}

.right-section a:first-child{
    opacity: 1;
}
.right-section a:hover {
    opacity: 1;
}




@media (max-width: 858px) { /* Adjust breakpoint based on your layout */
    section:nth-of-type(3) {
        footer {
            margin-top: 7rem; /**/
            
            p {
                margin:0;
            }
        }
        
    }
}




@media only screen and (max-width: 768px) {
    
    #menu {
        display: none;
    }
    
    #alex {
        opacity: 1;
    }
    
    section:nth-of-type(2) > h1, section:nth-of-type(3) > h1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    #filters {
        justify-content: center;
        padding-right:0%;
    }
    
    section:first-of-type header {
        justify-content:center;
        padding-top: 3vw;
    }   
}

@media only screen and (max-width: 1600px) {
    
    .right-section {
        display: none;
    }
    
}